
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b0c1b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 55px;
    padding: 15px 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0b0c1b;
    z-index: 11;
  }
  
  @media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  #page-wrapper {
    position: relative;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  /** global classes styling **/
  
  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
.logo{
    color: rgb(50, 210, 238);
    padding-bottom: 15px;
} 
nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav li{
      padding-bottom: 15px;
  } 
  nav li a:hover{
    color: #3be5ed;
  }
 
 img{
   
    height: 300px;
   
}

#content{
    display: flex;
    padding: 150px 0px;
    height: 100hv;
    justify-content: center;
}
h2>p{
  font-size: 22px;
}
.begin{
  color: white;
  display: flex;
  padding: 20px 20px;
 
  top: 0;
  min-height: 55px;
  padding: 0px 20px;
 
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
.begin .text{

    margin-top: 0;
    width: 400px;
    padding-left: 20px;
    padding-top: 100px;
    border: 400px 200px;
}
.begin .text h2{
  font-size: 2.5em;
}
.begin .image{
   float: right;
  padding-top: 50px;
  margin-right: 0px;

}
#content .infor{

 justify-content: space-between;
 margin-top: 45px;
 margin-left: -50px
}
.infor >li> a{
  width: 35vw;
    display: flex;
   
   
}

.btn{
  
    border-radius: 4px;
    cursor: pointer;
  width: 500px;
}
.text-content{
  line-height: 45px;
  width: 220px;
 
  font-size: 20px;
  padding: 0px 0px;
 
}
.borders{
  border-radius: 50px;
  border-style: solid;
  border-width: medium;
  border-color: #3be5ed;
  background-color: #0b0c1b;
}
.borders:hover{
  background-color: #3be5ed;
  color:black;
}
.text-content a:hover{
  color:black;
}
.con-inf{
  text-align: center;
  color: black;
}
.dialog{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition:opacity linear 0.2s;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 114, 109, 0.5);
  
}
.dialog:target{
  visibility: visible;
  opacity: 1;
}
.dialog-body{
  max-width: 600px;
  position: relative;
  padding: 16px;
  width: 600px;
  height: 300px;
  background-color: rgb(167, 235, 241);
  
  border-radius: 25px;
  border-style: solid;
  border-width: medium;
  box-shadow: 0 3px 12px 0 rgba(150, 240, 240, 0.2), 0 6px 20px 0 rgba(209, 250, 252, 0.19);
  align-items: center;
  justify-content: center;
  
}
.dialog-close-btn{
  position: absolute;
  top: 4px;
  right: 10px;
  width: 15px;
  height: 15px;
  text-decoration: none;
  align-items: center;
  justify-items: center;
  justify-content: center;
  color: rgb(18, 20, 20);
}
.dialog-close-btn:hover{
  background-color: skyblue;
}

.overlay-close{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.contract-me{
padding: 20px 0px 40px;
text-align: center;
color: aqua;

}
.inf{
  align-items: center;
  margin-left: 50px;
  margin-top: 60px;
  
}
.space{
  margin: 5px 5px;
}

span{
  position: relative;
  color: white;
  display: block;
  
}
#nav .borders:hover{
  background-color: #3be5ed;
  color:black;
}
#nav p {
  color: #0b0c1b;
  display: none;
}
#nav span:hover +p{
display: block;
}
@media (hover: hover) {
  span:hover  {
    display: none;
  }
}
